html {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    position: fixed;
    right: 0;
    left: 0;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    justify-items: center;
    overflow-y: auto;
}

body {
    top: 0;
    bottom: 0;
}

header {
    display: flex;
    grid-template-columns: auto auto;
    background-color: rgba(10, 83, 112, 0.76);
    color: white;
    box-shadow: 2px 5px 5px #999;
    text-align: center;
}

hr {
    margin-left: 12px;
    margin-right: 12px;
}

#self-image {
    float: right;
    width: 10em;
    height: auto;
    margin: 0.5em;
    box-shadow: 0.4px 1px 1px 1px rgb(56, 52, 52);
    border-radius: 10px 10px 10px 10px;
}

h1, h2 {
    padding-left: 0.5em;
}

h1 {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #999;
    font-size: 1.5rem;
    padding-right: 5px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 2px lightgray;
    font-size: 1rem;
}

li {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

#tooltip {
    font-style: italic;
    margin-top: -5px;
    margin-left: 10px;
}

#content-heading {
    margin: 10px 0 0 -7px;
}

footer {
    display: grid;
    grid-template-rows: 30px 40px;
    background-color: rgba(10, 83, 112, 0.76);
    color: white;
    text-align: center;
    box-shadow: 2px 5px 5px #999;
}

#footer-text {
    font-size: 20px;
}

#last-update {
    color: rgb(240, 240, 0);
}