table {
    margin: 50% auto auto;
    border: thin solid rgb(190, 191, 190);
    border-collapse: collapse;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    box-shadow: 10px 10px 10px #628CA6;
}

#portal {
    color:rgb(25, 55, 138);
}

#portal:hover {
    color: rgb(139, 185, 199);
}

thead tr:nth-of-type(1) th {
    font-weight: bold;
    font-size: 1.5rem;
}

thead tr:nth-of-type(2) {
    color: #FFFFFF;
}

tfoot {
    padding: 10px;
    font-size: 0.8rem;
    background-color: #7FB9C2;
}

td, th {
    border: thin solid grey;
    padding: 10px 10px;
}

#specialEvent {
    font-style: italic;
}

.metGoal {
    background-color: #628CA6;
    color: #FFFFFF;
}

/* zebra striping */
tbody tr:nth-child(odd) {
    background-color: #E7F0ED;
}

tbody tr:nth-child(even) {
    background-color: #E7FFED;
}
tr:nth-child(1) th {
    background-color: #7FB9C2;
}

tr:nth-child(2) th {
    background-color: #628CA6;
}

@media only screen and (min-width: 600px) {
    table {
        margin: 10px auto;
        width: 90vw;
    }
}

@media only screen and (min-width: 800px) {
    table {
        margin: 5% auto;
        height: 70vh;
    }
}